* {
    --bg-lighter: #585B6E;
    --bg-light: #44475A;
    --bg: #282A36;
    --bg-dark: #1E202C;
    --bg-darker: #191B27;

    --fg: #F8F8F2;
    --fg-dark: #DFDFD9;

    --comment: #6272A4;
    
    --red-light:#ff6e6e;
    --red: #ff5555;
    --red-dark: #E63C3C;
    --orange-light: #FFD185;
    --orange: #FFB86C;
    --orange-dark: #E69F53;
    --yellow-light: #ffffa5;
    --yellow: #F1FA8C;
    --yellow-dark: #D8E173;
    --green-light: #69ff94;
    --green: #50FA7B;
    --green-dark: #37EB62;
    --cyan-light: #a4ffff;
    --cyan: #8BE9FD;
    --cyan-dark: #72D0E4;
    --blue-light: #6DCCFF;
    --blue: #54B3FF;
    --blue-dark: #3B9AE6;
    --purple-light: #d6acff;
    --purple: #BD93F9;
    --purple-dark: #A47AE0;
    --pink-light: #ff92df;
    --pink: #FF79C6;
    --pink-dark: #E660AD;

    --graph1: #ff79c6ff;
    --graph2: #ff79c6bb;
    --graph3: #ff79c688;
    --graph4: #ff79c633;

    --accent-1: var(--purple);
    --accent-2: var(--pink);

}